<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload</title>
</head>
<body>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <label>URL</label>
    <input type="url" name="url" />
    <b> or </b><br />
    <label>Upload a video (.mp4, .mov, .avi, .flv, .mpeg)</label>
    <input type="file" name="upload" /><br /><br />

    <label>Banned words</label><br>
    <textarea name="words"></textarea>
    <input type="submit" />
  </form>
</body>
</html>