<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload info</title>
</head>
<body>
  <ul>
    <li>
      <b>ID: </b>
      {{ job_id }}
    </li>
    <li>
      <b>Status: </b>
      {{ job_status }}
    </li>

  </ul>
</body>
<script>
    var source = new EventSource("{{ url_for('sse.stream') }}");
    source.addEventListener('job_update', function(event) {
        var data = JSON.parse(event.data);

        downloadURI(data['url'], 'video-clean.mp4')
    }, false);

    function downloadURI(uri, name) 
    {
        var link = document.createElement("a");
        link.download = name;
        link.href = uri;
        link.click();
    }

</script>
</html>