<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload info</title>
</head>
<body>
  <ul>
    <li>
      <b>ID: </b>
      {{ job_id }}
    </li>
    <li>
      <b>Status: </b>
      {{ job_status }}
    </li>

    <li>
      <b>Upload URL: </b>
      {{ job_upload_url }}
    </li>
  </ul>
</body>
<script>
let socket = new WebSocket("ws://{{ base_url }}");

socket.onopen = function(e) {
};

socket.onmessage = function(event) {
  alert(`[message] Data received from server: ${event.data}`);
};

socket.onclose = function(event) {
};

socket.onerror = function(error) {
  alert(`[error] ${error.message}`);
};
</script>
</html>